GitPython
PyYAML
argparse
beautifulsoup4
boto3
botocore
certifi
chardet
et_xmlfile
gitdb
idna
jdcal
jmespath
minepy
mysql_connector_python
numpy
openpyxl
pandas
protobuf
python_dateutil
python_gitlab
pytz
requests
requests_toolbelt
s3transfer
six
smmap
soupsieve
urllib3
pip
wheel
setuptools
notary
attrs
importlib_metadata
pyrsistent
typing_extensions
zipp
jsonschema
pyparsing
pluggy
toml
packaging
iniconfig
py
pytest
pytest_mock
tomli
charset_normalizer
