pyyaml
six
protobuf
mysql_connector_python
minepy
python_gitlab
urllib3
certifi
idna
chardet
boto3
s3transfer
botocore
jmespath
beautifulsoup4
argparse
gitpython
gitdb
openpyxl
jdcal
et_xmlfile
pandas
python_dateutil
pytz